  @charset "UTF-8";
  @baseColor-sender:#fa982e;
  @baseColor-receiver:#2390f9;
  @baseColor-f:#fff;
  @baseColor-c:#ccc;
  @baseColor-3:#333;
  .info{
    padding: 0.6rem 0.3rem;
    background-color: @baseColor-f;
    margin-top: 0.5rem;
    color: @baseColor-3;
    &-receiver{
      margin-top: 0;
      border-top: 1px solid @baseColor-c;
    }
    div:nth-child(3){
      width: 2rem;
    }
  }
  .sender-icon{
    background-color: @baseColor-sender;
    color:@baseColor-f;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
  }
  .receiver-icon{
    background-color: @baseColor-receiver;
    color:@baseColor-f;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
  }
  .person-info{
    padding: 0 0.5rem;
    line-height: 1.6rem;
    font-size: 1rem;
    p:not(:first-child){
      font-size: 0.9rem;
      color: #666;
    }
  }
  .express{
    &-info{
      margin-top: 0.5rem;
      background-color: @baseColor-f;
      min-height: 4rem;
      // border-bottom: 1px solid @baseColor-c;
      a{
        color:@baseColor-3;
      }
      &-expro{
        &:first-child{
          border-right: 1px solid @baseColor-c;
        }
        box-sizing: border-box;
        padding: 0.5rem;
        div{
          line-height: 1.6rem;
          &:nth-child(2){
            width: 1rem;
            img{
              height: 1rem;
            }
          }
        }
        div span{
          &:first-child{
            color: @baseColor-c;
          }
          display: block;
        }
      }
    }
  }
  .tip-icon{
    display: block;
    width: 1rem;
    margin-right: 0.2rem
  }
  .sum{
    color:@baseColor-sender;
  }
  .order-submit{
    font-size:0.8rem;
    background-color:#fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    div{
      button{
        font-size: 1.2rem;
        padding: 0.8rem 0rem;
        height: 100%;
        color: @baseColor-f;
        border: none;
        display:block;
        width:100%;
      }
    }
  }
  .disabled{
    background-color: gray;
    border: none;
  }
  .btnsubmit{
    background-color: @baseColor-sender;
  }
