@import "../areaList/areaList.less";
.region{
  &-nav{
      height: 2.5rem;
      line-height: 2.5rem;
      color: #ff9c1c;
      background-color: white;
      font-size: 1rem;
  }
  &-body{
    background-color: white;
    color: #8e8e8e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 6rem;
    white-space: nowrap;
    font-size: 0;
    ul, li {
        list-style: none;
        text-align: center;
    }
    li {
        padding: 0.8rem 0;
        &.actived{
          background-color: @baseColor-sender;
          color: #fff
        }
    }
    &-warp{
      width: 150%;
      height: 100%;
      font-size: 0;
      position: relative;
    }
  }
  &-list{
    display: inline-block;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 1rem;
    width: 33.3%;
  }
  &-left{
    background-color: #f3f3f3;
  }
}
