.exporlist{
  &-box{
    margin: 0.5rem;
    padding: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    font-size: 1rem;
  }
  &-img{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }
}
