:global{
  html,body{
    font-size:14px;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    height: 100%;
    background-color: #f3f3f3;
    // font-family: '微软雅黑';
  }
  #root{
    height: 100%;
  }
  @media screen and (min-width: 320px) {
      html {font-size: 14px;}
  }

  @media screen and (min-width: 360px) {
      html {font-size: 16px;}
  }

  @media screen and (min-width: 400px) {
      html {font-size: 18px;}
  }

  @media screen and (min-width: 440px) {
      html {font-size: 20px;}
  }

  @media screen and (min-width: 480px) {
      html {font-size: 22px;}
  }

  @media screen and (min-width: 640px) {
      html {font-size: 28px;}
  }

  .weui_navbar_item{
    border-bottom: 1px solid #bcbab6;
    background-color: #fff;
  }

  .weui_navbar:after {
    border-bottom: none;
  }

  .weui_navbar_item.weui_bar_item_on {
    background-color: #fff;
    color: #f36317;
    border-bottom: 1px solid #f36317;
  }

  .weui_article{
    padding: 0;
    font-size: 1rem;
  }
  .weui_cells {
    font-size: 1rem;
  }
  .weui_btn_primary:not(.weui_btn_disabled):active {
      color: rgba(255, 255, 255, 0.4);
      background-color: #fa845f;
  }
  .weui_dialog_ft{
    a{
      color:#fa982e;
    }
  }
  .weui_mask{
    z-index:600
  }
  .weui_search_cancel{
    color:#fa982e
  }
  .weui_tab_bd{
    -webkit-overflow-scrolling:auto;
  }
}
