.sender-span{
  color: #bbbbbb
}
.order-info-block {
  padding: 6px 12px;
  color: #333;
  background-color: white;
  margin-top: 1em;
  font-size: 14px;
}
.order-info-sender{
  padding: 6px;
  color: #333;
  background-color: white;
  font-size: 14px;
}

.order-info-agreement {
  padding: 6px 12px;
  color: #333;
  margin-top: 1em;
  font-size: 14px;
}

.person-info-block {
  padding-left: 3em;
  position: relative;
}

.person-info-block .left-label {
  position: absolute;
  left: 0;
  top: 2em;
}

.person-info-block .left-label label {
  display: block;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  color: white;
}

.person-info-block .img-icon {
  position: absolute;
  left: 0;
}

.person-info-block .img-icon img {
  width: 2em;
}

.person-info-details .store-info-item-more {
  width: 2em;
}

.person-info-block .person-info-item {
  display: block;
  width: 100%;
  font-size: inherit;
}

.person-info-block.sender {
  padding-top: .3em;
  padding-bottom: .3em;
}

.person-info-block.receiver {
  padding-top: .3em;
  padding-bottom: .3em;
}

.person-info-block.sender .person-info-item {
  padding: 0.5em 0;
  line-height: 1em;
  border: 0;
  border-radius: 0;
}

.person-info-block.sender .person-info-item {
  line-height: 1em;
  padding: .4em 0;
  height: 1em;
}

.person-info-block.receiver .person-info-item {
  line-height: 1em;
  padding: .4em 0;
  height: 1em;
}

.person-info-block.sender .left-label label {
  background-color: #f36317;
}

/* 费用信息 START */
.fee-info-block{

}

.fee-info-block .fee-info-item{
  padding: 1em 16px;
  line-height: 1em;
  border-bottom: 1px solid #D8D8D8;
}

.fee-info-block .fee-info-item:last-child{
  border-bottom: 0;
}

.fee-info-block .fee-info-name{

}

.fee-info-block .fee-info-name img{
  height:1em;
  vertical-align: top;
  padding-left:.2em;
}

.fee-info-block .fee-info-value{
  float: right;
  color: #F36317;
}
/* 费用信息 END */

.btn-color {
  background-color: #f36317;
}

.person-info-block.receiver .left-label label {
  background-color: #179ef3;
}

.goods-info-block {
  border-bottom: 1px solid #d8d8d8;
  padding: 1em 16px;
}

.goods-info-item {
  position: relative;
  line-height: 1em;
}

.goods-info-item-right {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}

.goods-info-item-more {
  display: inline-block;
}

.order-operation-block {
  border-top: 1px solid #f3f3f3;
}

.store-info-item-more {
  display: inline-block;
  float: right;
}

.order-operation-item {
  display: block;
  width: 100%;
  text-align: center;
  height: 3em;
  line-height: 3em;
}

.order-operation-item.summary {
  background-color: white;
  color: #bbb;
}
.summary-fontC {
  background-color: white;
  color: #f36317;
}

.order-operation-item.submit {
  background-color: #f36317;
  color: white;
}
.order-radius-top-left{
  border-radius: 5px 0px 0px 5px;
}
.order-radius-top-right{
  border-radius: 0px 5px 5px 0px;
}
.order-operation-item.submit.disabled {
  background-color: gray;
  color: #f3f3f3;
}

.actionsheet-custom {
  height: 3em;
  line-height: 1em;
  position: relative;
  padding-right: 4em;
}

.actionsheet-custom input {
  font-size: inherit;
  border: 0;
  display: block;
  width: 100%;
  height: 3em;
  border-radius: 0;
}

.actionsheet-custom a {
  display: block;
  font-size: inherit;
  height: 3em;
  width: 4em;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  white-space: nowrap;
  line-height: 3em;
  text-align: center;
  background-color: #FFF;
}

/* START#receiverEditor */
#receiverEditorPage{

}

#receiverEditorPage .save-receiver-btn-area{
  padding: 1em .5em;
}
/* END#receiverEditor */

/* START#addressEditorPage */
#addressEditorPage{

}

#addressEditorPage #addressEditorPage-list{
  background-color: transparent;
  padding: 0px 7px;
}

#addressEditorPage .person-info-block{
  padding-left: 2em;
  background-color: #FFF;
  margin-bottom: 12px;
  padding-top: .5em;
  padding-bottom: .5em;
}

#addressEditorPage .img-icon{
  display:none;
  top:0;
}

#addressEditorPage .actived .img-icon{
  display: initial;
}

#addressEditorPage .store-info-item-more{
  margin-right:.2em;
}

#addressEditorPage .bottom-btn-area{
  position: fixed;
  width:100%;
  bottom: 0;
}
#addressEditorPage .bottom-btn-area .weui_btn{
  margin: .5em;
  font-size: 1em;
}
/* END#addressEditorPage */

/* START#storeMapPage */
#storeMapPage{

}

#storeMapPage .storeMapContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 3.6em;
}


#storeMapPage .storeMapContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 3.6em;
}

#storeMapPage .amap-info-content{
  padding:0;
}

#storeMapPage .amap-info-close{
  color: white;
}

#storeMapPage .storeMap-marker{

}

#storeMapPage .storeMap-marker-title{
  padding: .5em;
  background-color: #BBB;
}

#storeMapPage .storeMap-marker-body{
  padding: 0 .5em;
}


#storeMapPage .storeMap-marker-item{
  line-height: 2em;
  font-size: .9em;
  color: #333;
}

#storeMapPage .storeMap-marker-btn{
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: .5em;
}
/* END#storeMapPage */

