html, body {
  height: 100%;
  background-color: #f3f3f3;
  font-family: '微软雅黑';
}

.bg {
  padding: 6px 12px 0px 12px;
  color: #333;
  background-color: white;
  font-size: 14px;
  margin: 1em 0em 0em 0em;
  min-height: 20px;
}

.div-a {
  float: left;
  width: 49%;
}

.div-b {
  float: right;
  width: 49%;
}

.center {
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.radius {
  display: block;
  border-radius: 50%;
  background-color: #f36317;
  height: .8em;
  width: .8em;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}

.order-Value {
  color: #333;
  background-color: white;
  font-size: 14px;
  overflow: hidden;
}

.div-bottom {
  border-bottom: solid 1px #dedfe0;
  padding: 0em 0em 0em 2em;
}

.order-table {
  position: relative;
  left: 0.3rem;
  border-left: solid 1px #dedfe0;
  padding-left: 1em;
  color: #8e8e8e;
  max-height: 40px;
}

.order-line-height {
  line-height: 1.8em
}

.order-span {
  color: #f36317;
  font-size: 1.2em;
}

.order-span img {
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.2em;
}

.order-value-span {
  padding-left: 1em;
  line-height: 1.8em;
}

.order-value-span span{
  color: #666;
}


.img-width {
  padding: 0.8em 0;
}

.order-padding {
  padding: 0em 0em 0em 2em;
}

.order-div-bottom {
  border-bottom: solid 1px #dedfe0;
  margin-bottom: 1em;
}

.store-info {
  width: 2em;
  float: right;
  padding-right: 8px;
  position: relative;
  top: -.3em;
}

.express-info {
  position: relative;
  top: -1.2em;
  line-height: 1.4em;
}

.a-iframe {
  position: relative;
  top: -1em;
  line-height: 1.8em;
}

.div-iframe {
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.div-iframe div {
  background-color: #4690CD;
  position: absolute;
  min-height: 60px;
  width: 100%;
  font-size: 1em;
  color: white;
  text-align: center
}

.iframe-back {
  position: relative;
  top: 1em;
  left: 1em;
  float: left;
}

.iframe-title {
  position: relative;
  top: 1em;
}
.p-span-display{
  display: inline-block;
  width: 5em;
  text-align: right;
  padding-right: 6px;
}
