@import "../pickup/pickup.less";
.area{
  &-nav{
    padding: 1rem 0.5rem;
    background-color:@baseColor-sender;
    color: @baseColor-f;
    font-size: 1rem;
    a{
      color: @baseColor-f;
    }
  }
  &-body{
    padding: 0 0.5rem 3.5rem;
    font-size: 1rem;
    &-item{
      background-color: @baseColor-f;
      padding: 0.5rem;
      margin-top:0.5rem;
    }
  }
  &-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    button{
      background-color: @baseColor-sender;
      font-size: 1rem;
    }
  }
  &-img{
    .show-img{
      display: block;
    }
    img{
      width: 2rem;
      display: none;
    }
  }
  &-edit{
    text-decoration: underline;
    color: #F36317;
  }
}
