@import "../pickup/pickup.less";
@import "../addReceiverInfo/addReceiverInfo.less";
.itemType{
  &-show{
    display: block;
  }
  &-hide{
    display:none;
  }
  &-title{
    color: #999;
    font-size: 1rem;
    border-bottom: 1px solid #dedfe0;
    padding:0.5rem 0;
  }
}
.itemWeight{
  &-title{
    font-size:1rem;
    border-bottom:1px solid #dedfe0;
    padding:0.5rem 0px;
    background-color:#efeff4;
  }
  &-span{
    font-size:1rem;
    border-bottom:1px solid #dedfe0;
    padding:0.5rem 0;
  }
}
.expor{
  &-sad{
    padding: 0.5rem;
    &-button{
      button{
        background-color:#f0f0f0;
        color:#8e8e8e;
        padding: 0.8rem;
        margin: 0.5rem;
        border: 1px solid #d3d3d3;
        border-radius: 0.5rem;
      }
    }
  }
}
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.col {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.button-col-padding{
  padding:0.5rem;
}
.actionsheet_buttons .weui_btn{
  font-size:1rem;
  white-space:nowrap;
}
.actionsheet-custom{
  height:3em;
  line-height:1em;
  position:relative;
  padding-right:4em;
  input{
    font-size:inherit;
    border:0;
    display:block;
    width:100%;
    height:3em;
    border-radius:0;
  }
  a{
    display:block;
    font-size:inherit;
    height:3em;
    width:4em;
    position:absolute;
    right:0;
    top:0;
    border-radius:0;
    white-space:nowrap;
    line-height:3em;
    text-align:center;
    background-color:#fff
  }
}
