@import "../areaList/areaList.less";
.store{
  &-item{
    box-sizing: border-box;
    padding: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    margin: 0.5rem;
  }
  &-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2
  }
  &-body{
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
  }
}
